<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "index.html" %}
{% load static %}
{% block boton%}
<a class="btn btn-primary" href="#anclar_boton">comentanos</a>
{% endblock %}
{% block contenidoACambiar%}

<div class="container mt-5" id="anclar_boton">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">dinos tu comentario</h3>
                </div>
                <div class="card-body">
                <form action="/comentanos/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="cabaña_hospedado" class="form-label">Cabaña en la que se hospedó:</label>
                        <select id="cabaña_hospedado" name="cabaña_hospedado" class="form-control" required>
                            <option value="">Selecciona una cabaña</option>
                            <option value="El Refugio del Cóndor">El Refugio del Cóndor</option>
                            <option value="El Mirador de las Sierras">El Mirador de las Sierras</option>
                            <option value="El Abrazo de la Montaña">El Abrazo de la Montaña</option>
                            <option value="Piedra del Águila">Piedra del Águila</option>
                        </select>
                    </div>
                        <div class="mb-3">
                            <label for="dia_en_el_que_se_hospedo" class="form-label">Fecha en la que se hospedó:</label>
                            <input type="date" class="form-control" id="dia_en_el_que_se_hospedo" name="dia_en_el_que_se_hospedo" required>
                        </div>
                        <div class="mb-3">
                            <label for="Comentario" class="form-label">Comentario:</label>
                            <textarea type="text" class="form-control" id="comentario" name="comentario" required></textarea>
                        </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>